/* Mobile view */
@media screen and (max-width: 549px){
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .settings-section{
        margin-top: 73px;
    }
    /* .nav-bar-bottom {
        margin: -87px 15px;
    } */
    .sub{
        margin-bottom: 0px;
    }
}

/* Tablets view */
@media screen and (min-width: 550px) and (max-width: 768px) {

}

/* desktop view */
@media screen and (min-width: 769px) {
    .settings-text{
        font-size: 30px;
    }
    .profile-section{
        margin-top: 0;
    }
    .content-section{
        padding: 5px;
    }
}
